# 교재 실행환경 버전정리
# python == 3.6.5
# jupyter == 1.0.0
# ipython == 6.2.1
# notebook == 5.5.0
# numpy == 1.14.3
# pandas == 0.23.0
# matplotlib == 2.2.2
# statsmodels == 0.9.0

# 내 실행환경 버전정리
# python 3.9.13
# jupyter 1.0.0
# ipython 8.16.1
# notebook 7.0.5
# numpy 1.26.0
# pandas 2.1.1
# matplotlib 3.8.0
# statsmodels 0.14.0

jupyter==8.16.1
ipython==8.16.1
notebook==7.0.5
numpy==1.26.0
pandas==2.1.1
matplotlib==3.8.0
statsmodels==0.14.0
